@page "/about"
@inherits AboutPageBase

<h2>About Page</h2>

<p>This project is used to go along with the <a href="" target="_blank">Organizing and Naming Components in Blazor</a> article on <a href="" target="_blank">Mario's blog</a>.</p>
<p>The goal of the project is to demo Mario's organization of pages and components, naming conventions and the way the code is separated from the views in two files.</p>

<p>The basic characteristics of this page are:</p>

<ul>
    <li>Code separated in two files, view and code behind</li>
    <li>View file name is AboutPage.razor</li>
    <li>Code behind file name is AboutPage.razor.cs</li>
    <li>File is located in the /Pages folder</li>
</ul>

<div class="row">
    <RazorClassLibraryComponent />
    <DemoComponent />
</div>