@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="/">Main Page</a>
        <a href="/about">About Page</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

