@inherits RazorClassLibraryComponentBase

<div style="border: 1px solid; background-color: lightyellow; padding: 2em; border-radius: 1em;" class="col-md-6">
    <h3>This is a component from Razor Class Library</h3>
    <p>This is a component from the Razor Class Library used inside the main project. The main features are:</p>
    <ul>
        <li>Code is split into two files for view representation and code behind.</li>
        <li>View file name is RazorClassLibraryComponent.razor</li>
        <li>Code behind file name is RazorClassLibraryComponent.razor.cs</li>
        <li>This component is in the DemoClassLibrary project which is referenced by the main project</li>
    </ul>
</div>


