@inherits DemoComponentBase

<div style="border: 1px solid; background-color: lavender; padding: 2em; border-radius: 1em;" class="col-md-6">
    <h3>This is a demo component</h3>
    <p>This is a demo component used to demonstrate the naming of components. The features of the demo component are:</p>
    <ul>
        <li>Code is split into two files for view representation and code behind.</li>
        <li>View file name is DemoComponent.razor</li>
        <li>Code behind file name is DemoComponent.razor.cs</li>
        <li>This component is in the /Components folder</li>
    </ul>
</div>

